*.pyc
__pycache__/
*.pyo
*.pyd
*.so
*.dylib
*.dll
*.egg-info/


# Virtual Environments
*.env
.venv
env/
venv/
env.bak/
venv.bak/
backups/
defaults/
*/docs
# Jupyter Notebook stuff
.virtual_documents/
.ipynb_checkpoints/

# Ignore logs
*.log
*.tmp
debug.log
profile.prof
*logs/
#ides
*.vscode
.vscode/
.idea/

# mlflow files
mlruns/
src/
notebooks/



# OS-Specific Files
.DS_Store
.Trash-*

# Ignore build artifacts
build/
dist/

# Ignore all files in any directory named debug
**/debug/*


# C compiler stuff
*.c
*.so
*.spec

#windows
Thumbs.db
ehthumbs.db
Desktop.ini


*.ini.bak
*.ini


